<html>
    <head>
      <h3>Lernmaterialien</h3>
    </head>
    <nav>
      <link rel="stylesheet" href="/static/styles/nav_bar_styles.css">
      <div class="nav-content">
        <div class="logo">
          <a href="#">Nachhilfemanager 🏫</a>
        </div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/kontakte">Kontakte</a></li>
          <li><a href="/dateien">Lernmaterial</a></li>
          <li><a href="/forum">Forum</a></li>
          <li><a href="/terminkalender">Terminkalender</a></li>
        </ul>
      </div>
    </nav>
    <section class="home"></section>
    <div class="text">
    <body>
     <p align = "center"> <Strong> Aktuelles Verzeichnis:</Strong> {{show_current_path}}</p>
     <ul>
     {% for item in file_list %}
        {% if "." not in item%}
         <li><strong><a href="/cd?path={{current_path + '/' + item}}">{{item}}</a></strong> </li>
        {% elif '.txt' or  '.json' or '.html' in item %}
        <li><strong><a href = "/view?file={{current_path + '/' + item +'.txt'}}">{{item}}</a></strong></li>
        {% else %}
        <li>{{item}}</li>
        {%endif%}
     {%endfor%}
    </body>
    </div>
  </html>