{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Terminkalender</title>
  <link rel="stylesheet" href="/static/styles/style.css">
  <script src="/static/scripts/script.js" defer></script>
</head>
<nav>
  <link rel="stylesheet" href="/static/styles/nav_bar_styles.css">
  <div class="nav-content">
    <div class="logo">
      <a href="#">Nachhilfemanager 🏫</a>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/kontakte">Kontakte</a></li>
      <li><a href="/dateien">Lernmaterial</a></li>
      <li><a href="/forum">Forum</a></li>
      <li><a href="/terminkalender">Terminkalender</a></li>
    </ul>
  </div>
</nav>
<section class="home"></section>
<div class="text">
  <body>
    <div class="container">
      <div class="calendar">
        <div class="calendar-header">
          <span class="month-picker" id="month-picker"> May </span>
          <div class="year-picker" id="year-picker">
            <span class="year-change" id="pre-year">
              <pre></pre>
            </span>
            <span id="year">2020 </span>
            <span class="year-change" id="next-year">
              <pre></pre>
            </span>
          </div>
        </div>
  
        <div class="calendar-body">
          <div class="calendar-week-days">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div class="calendar-days">
          </div>
        </div>
        <div class="calendar-footer">
        </div>
        <div class="date-time-formate">
          <div class="day-text-formate">TODAY</div>
          <div class="date-time-value">
            <div class="time-formate">01:41:20</div>
            <div class="date-formate">03 - march - 2022</div>
          </div>
        </div>
        <div class="month-list"></div>
      </div>
    </div>
  </body>
  
</div>
<script>
let nav = document.querySelector("nav");
  window.onscroll = function() {
    if(document.documentElement.scrollTop > 20){
      nav.classList.add("sticky");
    }else {
      nav.classList.remove("sticky");
    }
  }
</script>
<h1>test</h1>

</html>
{% endblock %}
