<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="../static/styles/nav_bar_styles.css">
    <title>{% block title %}My Webpage{% endblock %}</title>
    {% endblock %}
  </head>
  
  <body>
    <nav>{% block navbar %}
    <div class="nav-content">
        <div class="logo">
            <a href="#">Nachhilfemanager 🏫</a>
          </div>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/kontakte">Kontakte</a></li>
            <li><a href="/dateien">Lernmaterial</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/terminkalender">Terminkalender</a></li>
          </ul>
    </div>
    <script>
      let nav = document.querySelector("nav");
        window.onscroll = function() {
          if(document.documentElement.scrollTop > 20){
            nav.classList.add("sticky");
          }else {
            nav.classList.remove("sticky");
          }
        }
      </script>{% endblock %}
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
   
  </body>
</html>